body{
    background-color: #985D5D;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cat{
    background-color: #F9DB6D;
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #36827F;
    flex: 1;
}

@media (min-width : 960px){
    .cats{
        display: flex;
    }
}

fieldset{
    margin: 1em;
    border: 0;
}
 button{
    padding: 1em;
    border: 3px solid;
    border-radius: 0.5em;
 }
 input{
    padding: 1em;
 }